<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MasterApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisefee"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity_order_main"
            android:name=".Store.StoreMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Mypage.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".Mypage.AppSettings"
            android:exported="false" />
        <activity
            android:name=".Mypage.CustomerInquiry"
            android:exported="false" />
        <activity
            android:name=".Mypage.MySubscription_current"
            android:exported="false" />
        <activity
            android:name=".Mypage.MySubscription_home"
            android:exported="false" />
        <activity
            android:name=".Mypage.PaymentHistory"
            android:exported="false" />
        <activity
            android:name=".Mypage.PaymentHistory_2"
            android:exported="false" />
        <activity
            android:name=".Mypage.UserInfoEdit"
            android:exported="false" />
        <activity
            android:name=".Alarm"
            android:exported="false" />
        <activity
            android:name=".Store.StoreSelfServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SignUpSellerActivity"
            android:exported="false" />
        <activity
            android:name=".Return.ReturnTumblerActivity"
            android:exported="false" />
        <activity
            android:name=".SearchingStores.SearchingStores"
            android:exported="false" />
        <activity
            android:name=".Store.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".Menu.QuantitySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SignUpConsumerActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Payment.PaymentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Menu.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".Cart.CartActivity"
            android:exported="true" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Boarding.OneBoarding"
            android:exported="false" />
        <activity
            android:name=".Boarding.ThreeBoarding"
            android:exported="false" />
        <activity
            android:name=".Boarding.TwoBoarding"
            android:exported="false" />
    </application>

</manifest>